{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-dark">
                            Создать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}